.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #3A86FF;
    color: white;
    text-decoration: none;
    outline: none;
}
.card a:link, .card a:visited, .card a:active, .card a:hover {
    color: white;
    text-decoration: none;

}