.title-centre-align{
    text-align: center;
}

.text-left{
    margin: auto;
    width: 40%;
    /* border: 3px solid green; */
    padding: 10px;
}





.image-left{
    margin: left;
    width: 60%;
    padding: 10px;
}

.text-right{
    margin: auto;
    width: 40%;
    /* border: 3px solid green; */
    padding: 10px;
    text-align: right;
}
